<div id = "primary-content">

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <% if @video.new_record?%>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>